.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px 10px 10px;
    background-color: #fff;

}

.form__input {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    background-color: #fff;
    border-color: #eee;
    height: 30px;
    margin-right: 10px;
    border-style: solid;
}

@media (min-width:401px) {
    .form__input {
        margin-bottom: 0px;
    }
}

@media (max-width:400px) {
    .form__input {
        margin-bottom: 10px;
    }
}

.form__button--addNewTask {
    display: flex;
    flex-shrink: 0;
    width: 150px;
    padding: 5px;
    height: 30px;
    background-color: teal;
    color: #fff;
    border-color: teal;
    border-style: solid;
}

@media (min-width:401px) {
    .form__button--addNewTask {
        display: flex;
        flex-shrink: 0;
        margin-right: 10px;
    }
}

@media (max-width:400px) {
    .form__button--addNewTask {
        display: flex;
        flex-grow: 1;
        max-width: 100%;
        margin-right: 10px;
        min-width: 0;

    }
}

.form__button--done {
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: rgb(17, 173, 17);
    border: none;
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: start;

}

.form__button--remove {
    width: 25px;
    height: 25px;
    background-color: red;
    border: none;
    text-decoration: none;
    justify-content: end;
}